* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
.container-imagem {
  position: relative;
  display: flex;
  flex-direction: column;
}
body {
  color: #173b0c;
  background-color: #fcf1f5;
  font-family: "Poppins", sans-serif;
}

/*Topo*/
.topo {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 24px;
  gap: 24px;
  background-color: #77b664e0;
  box-shadow: 0 0 2px black;
  justify-content: space-between;
  align-items: center;
}

.topo nav a, .menu-login a {
  color: white;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  top: 20px;
  text-shadow: 0 0 4px black;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.topo nav a:hover{
  text-shadow: 0 0 8px black;
  transform: scale(1.1); 
  font-size: 25px;       
  color: #173b0c;
}

#selecionado{
  color: #173b0c;
}

nav {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.menu-login{
  display: none;
  position: absolute;
  top: 120px;
  right: 0;
  width: 200px;
  background-color: #77b664e0;
  z-index: 1000;
  padding: 20px 20px;
}
.flex-login{
  display:flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.menu-login.active {
    display: block;
}

/* Rodapé*/
footer{
  background-color: #f1e7d5;
}
footer{
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align:center;
}
.rodape{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(50px, 1fr) minmax(10px, 0.3fr);
  grid-template-areas: "instagram contato patrocinio" "autoria autoria autoria";
}

.instagram{
  grid-area: instagram;
}
.instagram figure{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
  justify-content: center;
}

.contato .contato-telefone{
  grid-area: telefone;
}
.contato .contato-email{
  grid-area: email;
}

.patrocinio{
  grid-area: patrocinio;
}
.patrocinio-imagem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.autoria{
  grid-area: autoria;
  text-align: center;
}

.rodape p{
  text-shadow: 0 0 1px black;
  color:#d4377e;
  font-size: 20px;
  font-weight: bold;
}
.rodape .p2{
  text-shadow: 0 0 1px black;
  color:#d4377e;
  font-size: 15px;
  font-weight: normal;
}


/*Botões*/

.button {
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 120px;
  color: white;
  background: #d4377e;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: static;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px #173b0c;
}

/*Conteúdo (títulos e textos)*/
h1 {
  font-size: 45px;
  text-align: center;
  justify-content: center;
  color: #1d510d;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
h2 {
  text-align: center;
  justify-content: center;
  color: #1d510d;
  text-shadow: 0 0 4px rgb(0, 0, 0);
  font-size: 30px;
}

h3 {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  width: 85%;
}

p{
  color: white;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
  font-size: 22px;
}


/*CRUD - Gerenciar*/
.menu-crud{
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.texto-crud{
  color:#173b0c;
  text-decoration: underline;
  font-size: 30px;
}
.texto-crud:hover{
  font-size: 35px;
}



/*Produtos - index*/
#produtos {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 400px;
  background-color: #ee9ec2;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  padding: 15px 15px 15px 15px;
}

#produtos:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px #1d510d;
}

#produtos img {
  min-width: 270px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 2px solid #173b0c;
}

.comercio {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.preco {
  font-size: 20px;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/*Integrantes - Sobre*/
.integrantes{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.integrantes figure img{
  border: 2px solid #173b0c;
  border-radius: 20px;
  width: 175px;
}
.integrantes figure figcaption{
  text-align: center;
  font-size: 80%;
}

/*Produtos*/
.info-produtos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1e7d5;
  box-shadow: 0 0 8px black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  gap: 40px;
  padding: 15px 15px 15px 15px;
}

.info-produtos:hover, .container-produtos:hover{
  transform: scale(1.05);
  transition: 1s;
  box-shadow: 10px 10px 30px #1d510d;
}

.info-produtos img, .container-produtos img {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 2px solid #173b0c;
}

.p-produtos{
  color:#173b0c;
  text-align:center;
  font-size: 16px;
  width: 60%;
  margin-right: 15px;
}

.container-produtos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ee9ec2;
  box-shadow: 0 0 8px black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  gap: 40px;
  padding: 15px 15px 15px 15px;
}

.dados-produto{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.lista-produtos{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*Tabela - CRUD e Carrinho*/
table {
  text-align: center;
  background-color:#f1e7d5;
  width: max-content;  
  margin: 0 auto;     
  border-collapse: collapse;
  border-color: #173b0c;
  table-layout: fixed;
}

th{
  color:#d4377e;
  font-size: 25px;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  width: 150px;
  height: 50px;
  padding: 2px 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
td{
  color:#173b0c;
  font-size: 20px;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  width: 150px;
  height: 50px;
  padding: 2px 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


a{
  color:#173b0c;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  text-decoration: underline;
  font-size: 20px;
}

.table-responsiva {
  overflow-x: auto;
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

#table-usuario tr th, #table-usuario tr td{
  max-width: 150px;
  max-height: 50px; 
}

.tabela-carrinho tr th, .tabela-carrinho tr td, .tabela-resumo tr th, .tabela-resumo tr td{
  width: 300px;
  height: 50px; 
}

.tabela-carrinho, .tabela-resumo{
  max-width: 90%;
}

a:hover{
  text-shadow: 0 0 4px black;
  transform: scale(1.1); 
  font-size: 22px;  
  transition: 1s;
}

/*Carrinho*/
.texto-carrinho{
  color: #d4377e;
  text-shadow: 0 0 3px black;
  text-align: center;
  display: block;
}


/*Minha conta*/
.container-dados{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.dados{
  color: #d4377e;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
}

/*Página Inicial - Slider*/
.slider{
  position: relative;
  margin: 0 auto;
  width: 90%;       
  max-width: 800px; 
  overflow: hidden;
}

.slides{
  width: 400%;
  display: flex;
  transition: margin-left 1s ease;
}

.slides input{
  display: none;
}

/*transições*/
.slide{
  width: 25%;
  position: relative; 
  flex-shrink: 0;
  transition: 3s;
}

.slide img{
  width: 100%;      
  height: auto;
  display: block;
}

.manual-navigation{
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  bottom: 15px; 
  gap: 20px;
}

.manual-btn{
  border: 2px solid #fcf1f5;
  width: 14px;
  height: 14px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s;
}

.manual-btn:hover{
  background-color: #fcf1f5;
}


/*manipulação*/
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div{
  padding: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{ 
  position: absolute; 
  width: 100%; 
  bottom: 15px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex; 
  justify-content: center; 
  gap: 20px;
}

/*marcação - imagem selecionada*/
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fcf1f5;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fcf1f5;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fcf1f5;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fcf1f5;
}


/*Animações*/
.fade-in-text {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Responsividade*/
@media (max-width: 1110px) {
  .logo{
    width: 90px;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 25px;
  }
  article{
    font-size: 12px;
  }
  nav {
    min-width: 200px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    background-color: #77b664e0;
    z-index: 1000;
    padding: 50px 50px;
  }
  .menu.active {
    display: block;
  }
  .menu nav {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
  .menu-hamburguer {
    display: block;
  }
  .comercio, .integrantes {
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
  }
  #produtos{
    max-width: 95%;
  }
  .button{
    font-size: 15px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 7px 15px;
  }
  .container-botoes{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .info-produtos{
    flex-direction: column;
  }
  .p-produtos{
    width: 80%;
  }
  .container-produtos img {
    width: 75%;
    height: 200px;
    max-width: 300px;
    overflow: hidden;
  }
  .container-produtos{
    gap: 25px;
  }
  p{
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .logo{
    width: 75px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
  article{
    font-size: 15px;
  }
  nav {
    min-width: 200px;
    gap: 10px;
  }
  .menu nav {
    gap: 10px;
  }
  #produtos{
    max-width: 320px;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-produtos{
    flex-direction: column;
  }
  .container-produtos img{
    width: 300px;
  }
  .info-produtos img{
    width: 75%;
    height: 200px;
    max-width: 300px;
    overflow: hidden;
  }
  .dados-produto{
    width: 300px;
  }
}
